footer {
    background-color: #eeac31;
    padding: 1rem;
    color: rgb(2, 0, 0);
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .social-links a {
    color: rgb(0, 0, 0);
    margin: 0 0.5rem;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }